.WorldInspector {
  .outline {
    border: 1px solid hsl(0, 0%, 20%);
  }

  :global .dock-panel {
    .dock-tabpane {
      overflow-y: auto !important;
    }
  }

  .tabAddComponentButton {
    color: white;
    padding-left: 6px;
  }
}
