.AudioProfile {
  .createProfileButton,
  .player {
    padding: 10px;
  }

  .createProfileButton {
    border-bottom: 1px solid var(--primary-border-color);

    * {
      width: 100%;
      font-size: 12px;
    }
  }

  .player {
    padding-top: 0;

    &.disabled {
      pointer-events: none;
    }

    .bar {
      display: grid;
      grid-template-columns: 18px auto 18px;

      .button {
        height: 32px;
        width: 18px;
        display: grid;
        align-items: center;
        cursor: pointer;

        &:hover {
          * {
            color: var(--highlight-color);
          }
        }

        &.play {
          * {
            justify-self: left;
          }
        }

        &.mute {
          &.muted {
            * {
              color: var(--warning-color);
            }
          }
          * {
            justify-self: right;
          }
        }
      }

      .slider {
        &:hover {
          :global .ant-slider-handle {
            opacity: 1;
          }
        }

        :global .ant-slider-handle {
          transition: opacity 0.2s;
          opacity: 0;
        }
      }
    }

    .time {
      display: grid;
      grid-template-columns: 40px auto auto auto 40px;
      align-items: center;

      * {
        font-size: 12px;
        text-transform: uppercase;
      }

      .button {
        width: 40px;

        &.loop {
          justify-self: right;

          &.loops {
            color: var(--highlight-color) !important;
          }
        }

        &.import {
          justify-self: center;
        }

        &.delete {
          justify-self: left;
        }
      }

      .current,
      .duration {
        * {
          font-family: 'Fira Code';
          color: hsl(0, 0%, 60%);
        }
      }
    }
  }

  .info {
    display: grid;
    // grid-template-columns: 72px auto;
    padding: 4px;

    .cover {
      width: 72px;
      height: 72px;
      background-size: contain;
      background-repeat: no-repeat;
      border: 1px solid hsl(0, 0%, 20%);
      border-radius: 2px !important;
    }

    .data {
      overflow-x: auto;

      ul {
        margin: 0px;
        padding: 0 6px;
        font-size: 12px;

        li {
          height: 18px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          span {
            color: hsl(0, 0%, 40%);
            text-transform: uppercase;
          }
        }
      }
    }

    .noInfo {
      padding: 0 6px;
      color: var(--warning-message-color);
      font-size: 12px;
    }
  }
}
