@import './variables.less';
@import './engine.less';

@font-face {
  font-family: Literata;
  src: url(../fonts/Literata.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter.ttf);
}

::-webkit-scrollbar {
  width: 4px;
  height: 44px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color-brighter);
}

::-webkit-scrollbar-track {
  border-left: 0.1rem solid var(--renderer-border-color);
}

html {
  font-size: var(--text-size);
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: var(--font-family);
  border: none;
}

*:focus {
  outline: none;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1.6rem;
  overflow: hidden;
}

@media only screen and (min-width: 680px) {
  #runtime {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: var(--runtime-width);
    border-left: 1px solid var(--renderer-border-color);
    border-right: 1px solid var(--renderer-border-color);
    height: 100%;
  }
}
