.CharacterEditor {
  .CharacterInfo {
    .content {
      padding-left: 24px;
      max-width: 370px;

      .componentId {
        padding-top: 24px;
        font-size: 10px;
        color: var(--component-id);

        &::before {
          content: 'CID: ';
        }
      }
    }
  }

  .CharacterPersonality {
    .header {
      .title {
        margin-top: 0;
        text-transform: uppercase;
        font-size: 14px;
      }

      &.MoodHeader {
        .title {
          &:hover {
            cursor: pointer;

            :global .anticon {
              color: var(--highlight-color);
            }
          }
        }
      }
    }

    .Temperament {
      .bar {
        width: 100%;
        height: auto;
        margin-bottom: 4px;
        display: grid;
        grid-template-columns: min-content auto;

        .title {
          font-size: 12px;
          text-transform: uppercase;
          text-align: right;
          padding-right: 4px;
        }

        .wrapper {
          display: grid;
          grid-template-columns: auto 2px auto;
          height: 2px;
          background: black;
          align-self: center;

          .divider {
            width: 100%;
            height: 100%;
            background: black;
          }
        }

        &.desire {
          .title {
            color: hsl(125, 100%, 60%);
          }

          .wrapper {
            background: hsl(125, 100%, 20%);
          }
        }

        &.desire .negative,
        &.desire .positive {
          background: hsl(125, 100%, 60%);
        }

        .negative,
        .positive {
          width: 100%;
          height: 100%;
          align-self: center;
          transition: width 0.2s;
        }

        .negative {
          justify-self: end;
        }

        .positive {
          justify-self: start;
        }

        &.desire .negative {
          width: 25%;
        }

        &.desire .positive {
          width: 0%;
        }

        &.energy {
          .title {
            color: hsl(30, 100%, 60%);
          }

          .wrapper {
            background: hsl(30, 100%, 20%);
          }
        }

        &.energy .negative,
        &.energy .positive {
          background: hsl(30, 100%, 60%);
        }

        &.energy .negative {
          width: 0%;
        }

        &.energy .positive {
          width: 75%;
        }
      }
    }

    .Moods {
      .moodGrid {
        display: grid;
        grid-template-columns: repeat(5, 19.5%);
        column-gap: 0.625%;
        row-gap: 0.625%;
      }
    }
  }

  .RemoveCharacterButton {
    height: 46px;
    width: 56px;
    color: var(--warning-color);
    text-align: center;
    display: grid;
    align-items: center;

    &:hover {
      cursor: pointer;
      color: var(--warning-color-bright);
    }
  }
}

.CharacterPortrait {
  .wrapper {
    border: 1px var(--border-color-20) solid;
    transition: border-color 0.2s;

    &:hover {
      border-color: var(--highlight-color);
      cursor: pointer;
    }

    .portrait {
      aspect-ratio: 4/5;
      height: auto;
      background-image: url(../../img/characters/default-portrait.png);
      background-size: 100% 100%;
    }

    .moodType {
      text-align: center;
      font-size: 12px;
      background: hsl(0, 0%, 0%);

      &.overlay {
        background: hsla(0, 0%, 5%, 0.8);
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }
}

:global .ant-dropdown {
  .mood-select-menu {
    background: hsl(0, 0%, 18%);
    border: black 1px solid;
    width: 200px;
    display: grid;
    padding: 4px;
    padding-right: 6px;
    grid-template-columns: 50% 50%;
    border-radius: 4px;
    column-gap: 2px;
    row-gap: 2px;

    .ant-tag {
      width: 100%;
      text-align: center;
      cursor: pointer;
      background-color: hsl(0, 0%, 14%);
      color: white !important;

      &.selected-mood {
        border-color: var(--highlight-color) !important;

        &:hover {
          background: var(--highlight-color-dark);
        }
      }

      &:hover {
        border-color: white;
        background: hsl(0, 0%, 8%);
      }
    }
  }
}
