.CharacterEditor {
  --drive-color: hsl(185, 100%, 60%);
  --drive-color-dark: hsla(185, 100%, 60%, 0.2);
  --energy-color: hsl(40, 100%, 60%);
  --energy-color-dark: hsla(40, 100%, 60%, 0.2);

  .CharacterInfo {
    .content {
      padding-left: 24px;
      max-width: 370px;

      .componentId {
        padding-top: 24px;
        font-size: 10px;
        color: var(--component-id);

        &::before {
          content: 'CID: ';
        }
      }
    }
  }

  .ImportMaskImage {
    position: absolute;
    width: 470px;
    height: 470px;
    z-index: 1;

    .cropContainer {
      width: 100%;
      height: 250px;
      bottom: 0;
    }
  }

  .CharacterPersonality {
    width: 470px;
    height: 470px;
    display: grid;
    grid-template-columns: 182px auto 182px;
    grid-template-rows: 182px auto 182px;

    .bar {
      width: 100%;
      height: 100%;
      display: grid;

      .desirable {
        height: 1px;
        width: 100%;
        background: var(--drive-color-dark);
        align-self: center;
        display: grid;

        .positive,
        .negative {
          background: var(--drive-color);
          transition: width 0.5s;
        }

        .positive {
          box-shadow: -10px 0 50px 4px var(--drive-color);
        }

        .negative {
          width: 0%;
          justify-self: end;
          box-shadow: 10px 0 50px 4px var(--drive-color);
        }
      }

      .energetic {
        width: 1px;
        height: 100%;
        background: var(--energy-color-dark);
        justify-self: center;
        display: grid;
        display: grid;
        // box-shadow: 0 0 4px 0 var(--energy-color-dark);

        .positive,
        .negative {
          background: var(--energy-color);
          transition: height 0.5s;
        }

        .positive {
          box-shadow: 0 10px 50px 4px var(--energy-color);
          align-self: flex-end;
        }

        .negative {
          box-shadow: 0 -10px 50px 4px var(--energy-color);
          align-self: flex-start;
        }
      }
    }

    .mask {
      &.central {
        width: 100px;
        height: 100px;
        margin: 3px;
      }
    }

    .zone {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(2, 50%);
      grid-gap: 3px;

      .mask {
        &.edge {
          width: 88px;
          height: 88px;
        }
      }
    }
  }

  .RemoveCharacterButton {
    height: 46px;
    width: 56px;
    color: var(--warning-color);
    text-align: center;
    display: grid;
    align-items: center;

    &:hover {
      cursor: pointer;
      color: var(--warning-color-bright);
    }
  }
}

.CharacterMask {
  overflow: hidden;
  border: 1px solid var(--border-color-20);
  transition: border-color 0.5s;

  &.dominateDrive {
    border-left-color: var(--drive-color);
    border-right-color: var(--drive-color);
  }
  &.dominateEnergy {
    border-top-color: var(--energy-color);
    border-bottom-color: var(--energy-color);
  }

  .wrapper {
    margin: 1px;
    border: 1px transparent solid;
    transition: border-color 0.5s;

    &.active {
      border-color: black;
    }

    &:hover {
      border-color: var(--highlight-color);
      cursor: pointer;
    }

    .portrait {
      height: auto;
      background-image: url(../../img/characters/default-portrait.png);
      background-size: cover;
      background-position: center;
      opacity: 0.2;
      transition: opacity 0.5s;

      &.active {
        opacity: 1;
      }
    }

    .type {
      text-align: center;
      font-size: 12px;
      background: hsl(0, 0%, 0%);

      &.overlay {
        background: hsla(0, 0%, 5%, 0.8);
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }
}

:global .ant-dropdown {
  .mood-select-menu {
    background: hsl(0, 0%, 18%);
    border: black 1px solid;
    width: 200px;
    display: grid;
    padding: 4px;
    padding-right: 6px;
    grid-template-columns: 50% 50%;
    border-radius: 4px;
    column-gap: 2px;
    row-gap: 2px;

    .ant-tag {
      width: 100%;
      text-align: center;
      cursor: pointer;
      background-color: hsl(0, 0%, 14%);
      color: white !important;

      &.selected-mood {
        border-color: var(--highlight-color) !important;

        &:hover {
          background: var(--highlight-color-dark);
        }
      }

      &:hover {
        border-color: white;
        background: hsl(0, 0%, 8%);
      }
    }
  }
}
