:global .ant-modal-body {
  padding: 0px;

  .ant-tabs-nav {
    margin: 0px;

    .ant-tabs-tab {
      &:hover,
      &:active {
        color: var(--highlight-color-bright);
      }
    }

    .ant-tabs-tab-btn {
      &:focus,
      &:active {
        color: var(--highlight-color);
      }
    }

    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: var(--highlight-color);
      }
    }

    .ant-tabs-ink-bar {
      background: var(--highlight-color);
    }
  }

  .ant-tabs-content-holder {
    padding: 10px;
  }
}

.CharacterEditor {
  .CharacterInfo {
  }

  .CharacterPersonality {
  }
}
