.JumpTo {
  .JumpSelect {
    h2 {
      margin: 0px;
      font-size: 12px;
      text-transform: uppercase;
      color: hsl(0, 0%, 50%);
    }

    :global .ant-divider {
      margin: 0px !important;
      margin-bottom: 4px !important;
    }

    .selectWrapper {
      display: flex;

      :global .ant-select {
        width: 100%;
        margin-bottom: 4px !important;
        flex-grow: 1;
      }

      :global .ant-btn {
        margin: 0px;
      }

      .rollBackBtn {
        width: 32px !important;
        margin: 0px;
        padding: 0px;
        border: none;
        flex-grow: 0;
      }

      .jumpToBtn {
        width: 100%;
      }
    }

    &:last-child :last-child {
      margin-bottom: 0px !important;
    }
  }
}
