@import '../../styles/variables';

.blocker {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  display: none;

  &.blocking {
    display: block;
  }
}

.appMenu {
  top: $title-bar-height - 1px;
  position: fixed;
  background: $glass-opacity;
  border: 1px solid black;
  backdrop-filter: $glass-blur;
  box-sizing: border-box;
  width: 200px;
  box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.8);

  &.floating {
    left: 102px - 23px;
  }

  &.fullscreen {
    left: 79px - 23px;
  }

  .row {
    display: block;
    cursor: pointer;
    margin: 0px;
    text-align: left;
    padding: 0px 10px;
  }

  .spacer {
    height: 4px;
  }
}
