:global .react-flow__controls {
  border: solid 1px hsl(0, 0%, 20%);
  box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.8);

  .react-flow__controls-button {
    background: hsl(0, 0%, 3%);
    border-bottom-color: hsl(0, 0%, 30%);

    &:last-of-type {
      border: none;
    }

    svg {
      path {
        fill: white;
      }
    }

    &:hover {
      background: hsl(0, 0%, 8%);
    }
  }
}

:global .react-flow__minimap {
  background-color: hsl(0, 0%, 3%);
  border: solid 1px hsl(0, 0%, 20%);
  box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.8);
  pointer-events: none;
  height: 80px;
  width: 100px;

  .react-flow__minimap-mask {
    fill: hsla(0, 0%, 0%, 0.8);
  }
}

:global .react-flow__node {
  // background: hsla(0, 0%, 0%);
  border-radius: 6px;
  border: 1px solid hsl(0, 0%, 0%);
  box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.8);
  transition: border 0.25s;

  &.selected {
    border: 1px var(--highlight-color) solid;
  }
}

:global .react-flow__selection,
:global .react-flow__nodesselection-rect {
  background: var(--highlight-color-10a);
  border: 1px dotted var(--highlight-color-80a);
}

:global .react-flow__handle-connecting {
  border: 1px hsl(357, 91%, 55%) solid;
  background: hsl(357, 91%, 55%) !important;
  cursor: no-drop !important;
}

:global .react-flow__handle-valid {
  border: 1px hsl(96, 65%, 63%) solid;
  background: hsl(96, 65%, 63%) !important;
  cursor: crosshair !important;
}

:global .react-flow__edge {
  .react-flow__edge-path {
    transition: stroke 0.25s;
    stroke: hsl(0, 0%, 40%);
  }

  .react-flow__edge-path {
    &:hover {
      cursor: pointer;
      stroke: white;
    }
  }

  &.selected {
    &.jump .react-flow__edge-path {
      stroke: var(--jump-node-color);
    }

    &.passage .react-flow__edge-path {
      stroke: var(--highlight-color);
    }
  }

  &.selected .react-flow__edge-path {
    stroke: var(--highlight-color);
  }
}
// ^^^
.routeNotConnected path {
  stroke: hsl(0, 0%, 15%) !important;

  &:hover {
    stroke: white !important;
  }
}

.SceneView {
  width: 100%;
  height: 100%;

  .background {
    background: hsl(0, 0%, 3%);
  }

  .ContextMenu {
    z-index: 1000;
    position: fixed;
    left: 200px;
    top: 200px;
    background-color: red;
    width: 100px;
    height: 100px;
  }
}

.RouteEdgeLabel {
  .conditions {
    fill: hsl(339, 100%, 55%);
  }

  .effects {
    fill: hsl(60, 100%, 55%);
  }

  .none {
    fill: hsl(0, 0%, 15%);
  }

  .label {
    font-size: 10px;
    fill: black;
  }

  .divider {
    fill: hsl(0, 0%, 5%);
  }
}

.jumpNode {
  min-width: 200px;
  max-width: 400px;

  .jumpHandle {
    width: 8px;
    height: 8px;
    background: black;
  }

  h1 {
    * {
      pointer-events: none !important;
    }

    .headerIcon {
      color: var(--jump-node-color);
      margin-right: 6px;
    }

    margin: 0px;
    padding: 6px 10px;
    font-size: 16px;
    text-align: left;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: hsla(0, 0%, 5%, 80%);
  }

  .jumpToContainer {
    padding: 10px;
    background: hsla(0, 0%, 20%, 80%);
  }

  .removeJumpBtn {
    width: 100%;
    height: 30px;
    background: hsla(0, 0%, 10%, 80%);
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.passageNode {
  min-width: 80px;
  max-width: 200px;

  .passageHandle {
    width: 8px;
    height: 8px;
    background: black;
  }

  h1 {
    * {
      pointer-events: none !important;
    }

    .headerIcon {
      color: var(--highlight-color);
      margin-right: 6px;
    }

    margin: 0px;
    padding: 6px 10px;
    font-size: 16px;
    text-align: left;
    background: hsla(0, 0%, 5%, 80%);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .divider {
    margin: 4px 0px;
  }

  .choices {
    background: hsla(0, 0%, 20%, 80%);

    .choiceHandle {
      width: 8px;
      height: 8px;
      background: black;
    }

    .choiceRow {
      cursor: default;
      font-size: 12px;
      padding: 4px 10px;
      cursor: pointer;
      transition: background-color 0.25s;

      &.choiceSelected {
        background-color: var(--highlight-color-80a);
      }
    }
  }

  .addChoiceButton {
    width: 100%;
    height: 30px;
    background: hsla(0, 0%, 10%, 80%);
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
