.sceneAudioWrapper {
  // TODO: combine with duplicates in other property panels
  border: 1px solid hsl(0, 0%, 15%);
  border-bottom: none;
  border-radius: 2px !important;
  margin-top: 10px;

  .header {
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    background: hsl(0, 0%, 0%);
    border-bottom: 1px solid hsl(0, 0%, 15%);
    padding: 0px 4px;
    padding-left: 10px;
    height: var(--panel-sub-header-height);
    line-height: var(--panel-sub-header-height);
  }

  .SceneAudio {
    padding-top: 0px;
  }
}
