.PassageDetails {
  .PassageType {
    // TODO: combine with duplicates in RouteDetails
    border: 1px solid hsl(0, 0%, 15%);

    .header {
      font-size: 12px;
      text-transform: uppercase;
      text-align: left;
      background: hsl(0, 0%, 0%);
      border-bottom: 1px solid hsl(0, 0%, 15%);
      padding: 0px 4px;
      padding-left: 10px;
      height: 32px;
      line-height: 32px;
    }

    .select {
      width: 100%;
      font-size: 12px;

      :global .ant-select-selector {
        border: none;
        border-bottom: 1px solid hsl(0, 0%, 15%) !important;
      }

      &.choice :global .ant-select-selector,
      &.inputVariable :global .ant-select-selector {
        border: none !important;
      }
    }

    .warningMessage {
      color: var(--warning-message-color);
      font-size: 12px;
      padding: 4px 10px;
    }
  }
}
