.ImportAndCropImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;

  &.cropping {
    pointer-events: unset;
  }

  .cropContainer {
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    bottom: 0;
    margin-bottom: 20px;
  }
}
