.ant-card-body {
  height: 100%;
}

.ant-card-actions {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.ant-tree-switcher {
  background: transparent !important;
}

.ant-tree-switcher-noop .anticon {
  display: none;
}

.ant-tree-node-content-wrapper {
  font-size: 12px;
}

.ant-tree-node-content-wrapper .ant-tree-title span .ant-btn {
  visibility: hidden;
}

.ant-tree-node-content-wrapper:hover .ant-tree-title span .ant-btn {
  visibility: visible;
}

.ant-btn {
  &:active,
  &:focus {
    border-color: var(--highlight-color);
  }
}

.ant-modal {
  padding-bottom: 0px;
  .ant-modal-body {
    .ant-tabs-nav {
      margin: 0px;

      .ant-tabs-nav-list {
        margin-left: 24px;
      }

      .ant-tabs-tab {
        &:hover,
        &:active {
          color: var(--highlight-color-bright);
        }
      }

      .ant-tabs-tab-btn {
        &:focus,
        &:active {
          color: var(--highlight-color);
        }
      }

      .ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          color: var(--highlight-color);
        }
      }

      .ant-tabs-ink-bar {
        background: var(--highlight-color);
      }
    }

    .ant-tabs-content-holder {
      padding: 24px;
    }
  }
}

.ant-select-item-option-state {
  color: var(--highlight-color) !important;
}

.ant-select-selection-search * {
  font-family: 'Fira Code' !important;
}
