.ant-menu-sub {
  border: 1px solid black !important;
  background: @glass-opacity !important;
  backdrop-filter: @glass-blur !important;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.8) !important;
}

.ant-card-body {
  height: 100%;
}

.ant-card-actions {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.ant-tree-switcher {
  background: transparent !important;
}

.ant-tree-switcher-noop .anticon {
  display: none;
}

.ant-tree-node-content-wrapper {
  font-size: 12px;
}

.ant-tree-node-content-wrapper .ant-tree-title span .ant-btn {
  visibility: hidden;
}

.ant-tree-node-content-wrapper:hover .ant-tree-title span .ant-btn {
  visibility: visible;
}
