html {
  font-size: 62.5% !important;
}

.es-engine {
  --background-color: black;
  --text-color: white;
  --highlight-color: hsl(265, 100%, 60%);
  --divider-color: hsl(0, 0%, 20%);
  --warning-color: hsl(350, 100%, 60%);
  --warning-color-bright: hsl(350, 100%, 65%);
  --disabled-color: hsl(0, 0%, 50%);
  --button-color: hsl(265, 100%, 60%);
  --button-color-hover: hsl(265, 100%, 65%);
  --button-height: 3.2rem;
  --animation-duration: 0.2s;

  background: var(--background-color);
  min-height: 100%;
  width: clamp(45ch, 50%, 75ch);
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 0;
  border: 0.1rem solid var(--highlight-color);
  border-top: none;
  border-bottom: none;
  background: black;
}

.es-engine * {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  text-decoration: none;
  transition: none;
}

.es-engine *:hover {
  color: var(--text-color);
}

.es-engine-passage-no-content {
  color: var(--warning-color) !important;
  margin-bottom: 1rem;
}

.es-engine-passage-p {
  margin-bottom: 0.4rem;
  line-height: 2.4rem;
}

.es-engine-passage-p:last-of-type {
  margin-bottom: 1.1rem;
}

.es-engine-passage-p-empty {
  margin-bottom: 0;
}

.es-engine-choices-container {
  width: 100%;
  position: sticky;
  bottom: -0.1rem;
  background-color: var(--background-color);
  padding: 1.5rem 0;
  border-top: 0.1rem solid var(--divider-color);
}

.es-engine-choice-button {
  display: block;
  font-size: 1.4rem;
  height: var(--button-height);
  line-height: var(--button-height);
  cursor: pointer;
  text-align: center;
  background: var(--button-color);
  border-radius: 0.4rem;
  margin-bottom: 0.8rem;
  border: 0.1rem solid var(--highlight-color);
  transition: background-color var(--animation-duration),
    border var(--animation-duration);
}

.es-engine-choice-button-disabled {
  background: transparent;
  border: 0.1rem dashed var(--disabled-color);
  color: var(--disabled-color);
  pointer-events: none;
}

.es-engine-choice-button:last-of-type {
  margin-bottom: 0;
}

.es-engine-choice-button:hover {
  background: var(--button-color-hover);
}

.es-engine-game-over-message {
  border-top: 0.1rem solid var(--divider-color);
  padding: 1.5rem 0;
  text-align: center;
}
