#runtime {
  --text-size: 62.5%;

  --primary-color: hsl(265, 100%, 60%);
  --primary-color-brighter: hsl(265, 100%, 65%);
  --primary-color-darker: hsl(265, 100%, 55%);
  --primary-color-darkest: hsl(265, 100%, 35%);
  --warning-color: hsl(50, 100%, 50%);

  --white: hsl(0, 0%, 97%);
  --black: hsl(0, 0%, 3%);

  --min-interaction-height: 4.4rem;
  --runtime-width: 680px;

  --input-selection-text-color: var(--white);

  --btn-text-color: var(--white);

  --link-color: var(--primary-color);
  --link-hover-color: var(--primary-color);

  --settings-z-index: 100;

  --title-bar-height: var(--min-interaction-height);
  --title-bar-z-index: 10;

  --background-color: var(--black);
  --text-color: var(--white);
  --font-family: 'Fira Code';

  --btn-background-color: transparent;
  --btn-background-color-hover: var(--primary-color-darker);
  --btn-border: 0.1rem solid var(--primary-color);
  --btn-border-hover-color: var(--primary-color-brighter);

  --renderer-border-color: hsl(0, 0%, 8%);

  --title-bar-background-color: var(--black);

  --event-top-border: 0.1rem solid hsl(0, 0%, 6%);
  --event-content-bottom-border: 0.1rem solid hsl(0, 0%, 12%);
  --event-character-mask-border: 0.1rem solid hsl(0, 0%, 20%);
  --event-character-reference-text-color: hsl(0, 0%, 50%);
  --event-character-reference-past-text-color: hsl(0, 0%, 30%);
  --event-past-text-color: hsl(0, 0%, 30%);
  --event-past-choice-background-color: none;
  --event-past-choice-border: 1px solid hsl(0, 0%, 10%);
  --event-past-text-hover-color: hsl(0, 0%, 70%);
  --event-past-choice-text-color: hsl(0, 0%, 10%);
  --event-past-choice-result-background-color: var(
    --event-past-choice-background-color
  );
  --event-past-choice-result-text-color: hsl(0, 0%, 70%);

  * {
    font-family: 'Literata' !important;
  }

  // ES reset
  h3 {
    text-align: unset;
  }

  p {
    font-size: 16px;
  }

  #engine-reset-notification {
    * {
      font-family: 'Inter' !important;
    }

    background: black;
    padding: 1.4rem;
    color: var(--warning-color);
    border-bottom: 1px solid var(--border-color-20);

    span {
      padding-bottom: 1.4rem;
      display: block;
    }
  }

  #engine-xray-wrapper {
    width: 100%;
    bottom: 0;
    position: absolute;
    background: hsl(0, 0%, 5%);
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 14px !important;
      height: 14px !important;
    }

    &::-webkit-scrollbar-thumb {
      background-color: hsl(0, 0%, 6%) !important;
      border: 1px solid hsl(0, 0%, 0%) !important;

      &:hover {
        background-color: hsl(0, 0%, 8%) !important;
      }

      &:active {
        background-color: hsl(0, 0%, 10%) !important;
      }
    }

    &::-webkit-scrollbar-track {
      border: 1px solid hsl(0, 0%, 0%) !important;
      background-color: hsl(0, 0%, 2%) !important;
    }

    #engine-xray {
      * {
        font-family: 'Inter' !important;
      }

      table {
        &.event-data {
          position: sticky;
          top: 0;
          border-top: 1px solid black;
          background: hsla(0, 0%, 5%, 0.9);
          backdrop-filter: blur(0.2rem);
        }

        width: 100%;

        tbody tr:hover {
          background: hsl(0, 0%, 9%);
        }

        td {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          &.event-data-starting-col {
            width: 8rem;
            max-width: 8rem;
            min-width: 8rem;
          }

          &.event-data-var-id-col {
            width: 15rem;
            max-width: 15rem;
            min-width: 15rem;
          }
        }

        th,
        td {
          padding: 0.4rem 0.4rem 0.2rem 0.4rem;
        }

        th {
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: normal;
          color: var(--primary-color);
          padding-bottom: 0.4rem;
          border-bottom: 1px solid var(--primary-color);
        }

        td {
          font-size: 1.2rem;
          border-bottom: 1px solid var(--renderer-border-color);
          border-right: 1px solid var(--renderer-border-color);
        }

        td:last-child {
          border-right: none;
        }

        th.xray-row-id,
        td.xray-row-id {
          width: 10rem;
        }
      }
    }
  }
}
