@import '../../styles/variables';

.gameBox {
  width: 160px;
  height: 256px;
  align-items: center;
  background: #0f0f0f;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  position: realtive;

  h4,
  h5 {
    text-align: center;
  }

  .addGameButton {
    height: 100%;
    font-size: 24px;
  }

  .contentWrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    box-sizing: border-box;

    h4 {
      font-size: 14px;
    }

    .contentBottom {
      position: absolute;
      bottom: 0px;
      width: 100%;

      h5 {
        font-size: 12px;
        margin-bottom: 6px;
        em {
          font-size: 10px;
        }
      }

      .buttonBar {
        background: #0f0f0f;
        border: 1px solid #000000;

        .shadow();
        .buttonBar(2);

        button {
          margin-bottom: 0px !important;
        }
      }
    }
  }
}
