// mixin
.emptyPlaceholderStyles {
  color: hsl(0, 0%, 40%);
  position: absolute;
  top: 0;
  left: 14px;
  font-family: 'Literata';
}

.EventContent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 6;
  background: hsla(0, 0%, 1%, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 10px;

  .contentContainer {
    // width: clamp(45ch, 50%, 75ch);
    // elmstorygames/feedback#244
    min-width: 320px;
    max-width: 676px;
    // box-sizing: content-box;
    min-height: 100%;
    margin: 0px auto;
    box-shadow: 0px 0px 30px black;
    background: hsl(0, 0%, 3%);
    border-left: 1px solid var(--primary-border-color);
    border-right: 1px solid var(--primary-border-color);

    .eventTitle {
      font-size: 12px;
      background: hsl(0, 0%, 1%);
      border-bottom: 1px solid var(--primary-border-color);
      padding: 5px 20px;
      position: sticky;
      top: 0px;
      z-index: 7;
      margin: 0;
    }

    .EventContentToolbar {
      border-bottom: 1px solid var(--primary-border-color);
    }

    .editable {
      height: 100%;
      padding-top: 14px;

      .DraggableWrapper {
        &:hover .dragHandle {
          opacity: 1;
        }

        .dragHandle {
          z-index: 1;
          transition: opacity 0.2s;
          position: absolute;
          top: 0;
          bottom: 14px;
          left: -7px;
          width: 14px;
          background: var(--highlight-color);
          // height: 18px;
          display: grid;
          align-items: center;
          opacity: 0;
          border-radius: 2px;
        }
      }

      * {
        font-family: 'Literata';
        hyphens: auto;
      }

      p *,
      h1 *,
      h2 *,
      h3 *,
      h4 *,
      blockquote *,
      ol *,
      ul * {
        font-family: 'Literata';
      }

      p,
      h1,
      h2,
      h3,
      h4 {
        margin-bottom: 0 !important;
        padding: 0 14px 14px 14px;
      }

      p,
      h1,
      h2,
      h3,
      h4,
      blockquote,
      li {
        position: relative;

        &.empty:after {
          .emptyPlaceholderStyles();
        }
      }

      .blockquoteWrapper {
        padding-bottom: 14px;
        padding-right: 44px;

        blockquote {
          border-left: 1px solid var(--highlight-color);
          margin-left: 15px;
          padding-left: 13px;
          font-style: italic;
          margin-left: 30px;
          margin-bottom: 0;
        }
      }

      ol,
      ul {
        list-style-position: inside;
      }

      ol,
      ul {
        margin-left: 28px;
        padding: 0;
      }

      ul {
        list-style-type: disc;

        li::before {
          content: '';
          margin-left: -0.6rem;
        }
      }

      ol,
      ul,
      li,
      blockquote {
        font-size: 16px;
      }

      ol,
      ul {
        padding-bottom: 14px;
        margin-bottom: 0;
      }

      li {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      p {
        * {
          font-size: 16px;
        }

        // this should be 28, but better matches preview
        line-height: 27px;

        &.empty:after {
          content: "Type '/' for commands...";
          font-size: 16px;
        }
      }

      h1 {
        font-size: 32px;

        &.empty:after {
          content: 'Heading 1';
        }
      }

      h2 {
        font-size: 24px;

        &.empty:after {
          content: 'Heading 2';
        }
      }

      h3 {
        font-size: 18px;

        &.empty:after {
          content: 'Heading 3';
        }
      }

      h4 {
        font-size: 16px;

        &.empty:after {
          content: 'Heading 4';
        }
      }

      blockquote {
        &.empty:after {
          content: 'Quote';
          left: 20px;
        }
      }

      li {
        &.empty:after {
          content: 'List';
          left: 17px;
        }
      }

      .character {
        display: inline-block;
        background: hsl(0, 0%, 15%);

        &.selected {
          background: var(--content-selection);
        }

        .icon {
          color: var(--highlight-color);
        }
      }

      .img {
      }

      .expression * {
        font-family: 'Fira Mono';
        background-color: var(--highlight-color-30a);
      }

      .expressionCap * {
        font-family: 'Fira Mono';
        color: var(--highlight-color-80a);
        caret-color: white;
      }
    }
  }
}
