.EventContent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 6;
  background: hsla(0, 0%, 1%, 0.9);
  overflow-y: auto;

  .contentContainer {
    width: clamp(45ch, 50%, 75ch);
    min-height: 100%;
    margin: 0px auto;
    box-shadow: 0px 0px 30px black;
    background: hsl(0, 0%, 3%);
    border-left: 1px solid var(--primary-border-color);
    border-right: 1px solid var(--primary-border-color);

    .eventTitle {
      font-size: 12px;
      background: hsl(0, 0%, 1%);
      border-bottom: 1px solid var(--primary-border-color);
      padding: 5px 20px;
      position: sticky;
      top: 0px;
      z-index: 7;
      margin: 0;
    }

    .EventContentToolbar {
      border-bottom: 1px solid var(--primary-border-color);
    }

    .editable {
      height: 100%;
      padding-top: 10px;

      .DraggableWrapper {
        &:hover .dragHandle {
          opacity: 1;
        }

        .dragHandle {
          transition: opacity 0.2s;
          position: absolute;
          top: 4px;
          left: -7px;
          width: 14px;
          height: 18px;
          opacity: 0;
        }
      }

      p {
        margin-bottom: 0 !important;
        padding: 0 1em 1em 1em;

        &.empty:after {
          content: "Type '/' for commands...";
          color: #aaa;
          position: absolute;
          top: 0;
          left: 14px;
          font-family: 'Literata';
          font-size: 16px;
        }
      }

      p * {
        font-family: 'Literata';
        font-size: 16px;
        // font-weight: 400 !important;
      }

      .expression * {
        font-family: 'Fira Mono';
        background-color: var(--highlight-color-30a);
      }

      .expressionCap * {
        font-family: 'Fira Mono';
        color: var(--highlight-color-80a);
        caret-color: white;
      }
    }
  }
}
