.componentProperties {
  border: none !important;
  background: none !important;

  * {
    border-radius: 0px !important;
  }

  :global .ant-collapse-header {
    font-size: 12px;
    text-transform: uppercase;
    height: 24px;
    padding: 0px !important;
    padding-left: 40px !important;
    line-height: 24px !important;
    background: hsl(0, 0%, 0%);

    .ant-collapse-arrow {
      top: 2px !important;
      line-height: 24px !important;
      padding: 0px !important;
    }
  }

  :global .ant-collapse-content {
    background: none !important;
  }
}
