.GameVariables {
  position: relative;
  height: 100%;

  .variableTable {
    .headerRow {
      font-size: 12px;
      text-transform: uppercase;
      text-align: left;
      background: hsl(0, 0%, 0%);
      border-bottom: 1px solid hsl(0, 0%, 15%);
      height: 32px;
      line-height: 32px;
      position: sticky;
      top: 0px;
      z-index: 1;

      .titleHeader {
        padding-left: 10px;
      }

      .typeHeader {
        padding-left: 10px;
      }

      .defaultValueHeader {
        padding-left: 10px;
      }
    }
  }
}

// Access from other components
.titleCol {
  width: 35%;
  border-right: 1px solid hsl(0, 0%, 15%);
}

.typeCol {
  width: 30%;
  border-right: 1px solid hsl(0, 0%, 15%);
}

.defaultValueCol {
  width: 30%;
  border-right: 1px solid hsl(0, 0%, 15%);
}

.deleteVariableCol {
  width: 5%;
}

.variableRows {
  .variableRow {
    border-bottom: 1px solid hsl(0, 0%, 15%);
    height: 25px;

    .variableTitle {
      font-size: 10px;
      padding: 5px 11px 3px 11px;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      height: 100%;
    }

    :global .ant-form-item {
      margin: 0px;

      .ant-form-item-control-input {
        min-height: 25px;
      }
    }

    :global .ant-input,
    :global .ant-input-number {
      font-size: 10px;
      height: 25px;
      border-radius: 0px;
      border: none;
      width: 100%;

      .ant-input-number-input {
        height: 25px;
      }
    }

    :global .ant-select {
      font-size: 10px;
      width: 100%;

      .ant-select-selector {
        height: 25px;
        border-radius: 0px !important;
        border: none;

        .ant-select-selection-item {
          line-height: 25px !important;
        }
      }
    }

    .deleteCell {
      display: grid;
      place-items: center;
      text-align: center;
      cursor: pointer;
    }
  }
}
