.profileList {
  min-width: 300px;
  max-width: 500px;
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;

  input {
    text-align: center;
  }

  .profileRow {
    margin-bottom: 8px;

    &.selected {
      border-color: red;
    }
  }
}
