/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import './styles/variables';
@import '~antd/dist/antd.dark.less';
@import './styles/ant.less'; // overrides
@import '@fontsource/fira-mono';

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 6%);
  border: 1px solid hsl(0, 0%, 0%);

  &:hover {
    background-color: hsl(0, 0%, 8%);
  }

  &:active {
    background-color: hsl(0, 0%, 10%);
  }
}

::-webkit-scrollbar-track {
  border: 1px solid hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 2%);
}

* {
  user-select: none;
  font-family: 'Fira Mono';
}

html,
body {
  height: unset !important;
  width: unset !important;
}

body {
  background-color: hsl(0, 0%, 4%);
  color: white;
}

a {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}
