/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  margin: 0px;
  padding: 0px;
  background-color: hsl(0, 0%, 0%);
  color: white;
}
